<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.AdvertisementDAO">
 <resultMap type="kr.kh.finalproject.vo.AdvertisementVO" id="AdvertisementVO">
 <id property="ad_num" column="ad_num"/>
 <result property="ad_contents" column="ad_contents"/>
 <result property="ad_image" column="ad_image"/>
 <result property="ad_date" column="ad_date"/>
 <result property="ad_st_num" column="ad_st_num"/>
 </resultMap>

	<select id="selectAdvertisementList" resultType="kr.kh.finalproject.vo.AdvertisementVO">
		select ad_num, ad_image, st_br_name as ad_br_name, ad_contents, ad_date 
			from advertisement
			join store on ad_st_num = st_num 
			order by ad_num asc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectAdvertisementTotalCount" resultType="int">
		select count(*) from advertisement
	</select>

	<!-- 사이트 관리자 페이지 -->
	<select id="selectAdList" resultType="kr.kh.finalproject.vo.AdvertisementVO">
		select ad_num, ad_image, st_br_name as ad_br_name, ad_contents, ad_date
			from advertisement 
			join store on ad_st_num = st_num
			where ad_approval = ${ad_approval}
		
	</select>
	<!-- 광고 승인/거절 -->
	<update id="updateAd">
		update advertisement
			set ad_approval = #{ad.ad_approval}
			where ad_num = #{ad.ad_num}
	</update>

</mapper>