<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.BusinessDAO">
	<delete id="deleteMenu">
		delete from menu where mn_num = #{menu_num}
	</delete>
	<delete id="deleteOption">
		delete from `option` where os_mn_num = #{menu_num}
	</delete>
	<select id="getSt_num" resultType="int">
		select mn_st_num from menu where mn_num = #{mn_num}
	</select>
	<update id="updateMenu">
		update menu
		set 
			mn_name = #{mn_name},
			mn_price = #{mn_price}, 
			mn_contents = #{mn_contents}
		where
			mn_num = #{mn_num}
	</update>
	<insert id="uInsertOption">
		insert into option_value (ov_os_num)
			values (#{ov_os_num})
	</insert>
	<select id="getOptionNum" resultType="int">
		select os_optionNum from `option`
		where os_mn_num = #{mn_num}
		order by os_optionNum DESC limit 1
	</select>
	<insert id="uInsertOptionMoongchi">
		insert into `option` (os_mn_num, os_optionNum)
			values (#{mn_num}, #{os_optionNum})
	</insert>
	<select id="getNewOs_Num" resultType="int">
		select os_num from `option`
		order by os_num desc limit 1
	</select>
	<insert id="uInsertOptionMoongchi2">
		insert into option_value (ov_os_num)
			values (#{os_num})
	</insert>
	<delete id="deleteOptionMoongchi">
		delete from `option`
		where os_mn_num = #{mn_num} and os_optionNum = #{os_optionNum}
	</delete>
	<select id="getOs_Num" resultType="int">
		select os_num from `option`
		where os_mn_num = #{mn_num} and os_optionNum = #{os_optionNum}
	</select>
	<delete id="deleteOptionMoongchi2">
		delete from option_value
		where ov_os_num = #{os_num}
	</delete>
	<delete id="deleteOptionValue">
		delete from option_value
		where ov_num = #{ov_num}
	</delete>
</mapper>