<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.kh.finalproject.dao.GalleryDAO">
	<insert id="insertCoffeeBoard" keyProperty="gallery.gal_num" useGeneratedKeys="true">
		insert into gallery(gal_num, gal_title, gal_me_user_id)
		select 
			ifnull(max(gal_num), 0)+1, 
			ifnull(max(gal_num), 0)+1, 
			#{gallery.gal_title},
			#{gallery.gal_me_user_id}
		from gallery
	</insert>
	<insert id="insertFile">
		insert into image(im_num, im_name, im_ori_name)
		values(#{file.im_num},#{file.im_name},#{file.im_ori_name})
	</insert>
</mapper>