<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.kh.finalproject.dao.ManagerDAO">
	<insert id="insertManager" parameterType="kr.kh.finalproject.vo.ManagerVO">
		insert into business_member(bm_id, bm_pw, bm_num, bm_phone, bm_address, bm_manager, bm_store_name)
		values(#{manager.bm_id},#{manager.bm_pw},#{manager.bm_num},#{manager.bm_phone},#{manager.bm_address}, #{manager.bm_manager}, #{manager.bm_store_name})
	</insert>
	
	<select id="selectManager" resultType="kr.kh.finalproject.vo.ManagerVO">
		select * from business_member where bm_id = #{bm_id}
	</select>
	
	<update id="updateMemberSession">
		update
			business_member
		set
			bm_session_id = #{businessmember.bm_session_id},
			bm_session_limit = #{businessmember.bm_session_limit}
		where
			bm_id = #{businessmember.bm_id}
	</update>
	
	<!-- 사이트 관리자 페이지 -->
	<select id="selectBMemberList" resultType="kr.kh.finalproject.vo.ManagerVO">
		select * from business_member where bm_approval = #{bm_approval}
	</select>
	
	<!-- 승인&거절 버튼 -->
	<update id="updateManager">
		update business_member 
			set bm_approval = #{manager.bm_approval}
			where bm_id = #{manager.bm_id}
	</update>
	<!-- <select id="selectCountManagerList" resultType="int">
		select count(*) business_member where bm_id = #{manager.bm_id}
	</select> -->
</mapper>