<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.ManagerDAO">
	<insert id="insertManager">
		insert into business_member(bm_id, bm_pw, bm_num, bm_phone, bm_address, bm_manager, bm_store_name)
		values(#{manager.bm_id},#{manager.bm_pw},#{manager.bm_num},#{manager.bm_phone},#{manager.bm_address}, #{manager.bm_manager}, #{manager.bm_store_name})
	</insert>
	
	<select id="selectManager" resultType="kr.kh.finalproject.vo.ManagerVO">
		select * from user where bm_id = #{id}
	</select>
</mapper>