<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.MeetingroomDAO">
 <resultMap type="kr.kh.finalproject.vo.MeetingroomVO" id="MeetingroomVO">
 <id property="room_num" column="room_num"/>
 <result property="room_st_num" column="room_st_num"/>
 <result property="room_content" column="room_content"/>
 <result property="room_price" column="room_price"/>
 <result property="room_seat" column="room_seat"/>
 <result property="room_etc" column="room_etc"/>
 <result property="room_starttime" column="room_starttime"/>
 <result property="room_endtime" column="room_endtime"/>
  </resultMap>

 <select id="selectMeetingroomList" resultType="kr.kh.finalproject.vo.MeetingroomVO">
 	select * from meetingroom order by room_num asc
 	limit #{cri.pageStart}, #{cri.perPageNum}
 </select>
 <select id="selectMeetingroomTotalCount" resultType="int">
 	select count(*) from meetingroom
 </select>
 <select id="selectMeetingroomstart" resultType="String">
 	select room_starttime from meetingroom 
	where room_num is #{room_num}
 </select>
 </mapper>