<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.MeetingroomDAO">
	<!-- <resultMap type="kr.kh.finalproject.vo.MeetingroomVO" id="MeetingroomVO">
		<id property="room_num" column="room_num"/>
		<result property="room_st_num" column="room_st_num"/>
		<result property="room_content" column="room_content"/>
		<result property="room_price" column="room_price"/>
		<result property="room_seat" column="room_seat"/>
		<result property="room_etc" column="room_etc"/>
		<result property="room_starttime" column="room_starttime"/>
		<result property="room_endtime" column="room_endtime"/>
		<collection property="reservationList" resultMap="ReservationVO">
		</collection>
	 </resultMap>
	
	<resultMap type="kr.kh.finalproject.vo.ReservationVO" id="ReservationVO">
		<result property="rs_num" column="rs_num"/>
		<result property="rs_start" column="rs_start"/>
		<result property="rs_room_num" column="rs_room_num"/>
		<result property="rs_user_id" column="rs_user_id"/>
	</resultMap> -->
	
	<!-- meetingroomMapper에서 RerservationVO의 정보, 즉 특정 미팅룸의 예약 목록이 필요하다면
		밑에꺼처럼 작성하고, collection으로 연결처리 하면 되는거 아닌가? 왜 위에처럼 작성했지???? -->
	<resultMap type="kr.kh.finalproject.vo.MeetingroomVO" id="MeetingroomVO">
		<id property="room_num" column="room_num"/>
		<result property="room_st_num" column="room_st_num"/>
		<result property="re_date" column="re_date"/>
		<result property="room_content" column="room_content"/>
		<result property="room_price" column="room_price"/>
		<result property="room_seat" column="room_seat"/>
		<result property="room_etc" column="room_etc"/>
		<result property="room_starttime" column="room_starttime"/>
		<result property="room_endtime" column="room_endtime"/>
		<collection
			property="reservation"
			ofType="kr.kh.finalproject.vo.ReservationVO"
			column="room_num"
			select="selectRsList"/>
	</resultMap>

	<!-- 미팅룸리스트 -->
	<select id="selectMrList" resultType="kr.kh.finalproject.vo.MeetingroomVO">
		select room_num, 
			bm_store_name as room_store_name,
			room_price,
			room_seat,
			room_content,
			room_starttime,
			room_endtime,
			room_etc,
			room_st_num
			from meetingroom 
				join store on room_st_num = st_num
				join manager on st_bm_id = bm_id
		<!-- where re_date = ${re_date} -->
		order by room_num asc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectMrTotalCount" resultType="int">
		select count(*)
			from meetingroom
	</select>
	
	<!-- 예약리스트 - resultMap해놓았음 
		이렇게 가져온 예약리스트는 meetingroom/home에서 어떤 역할을 하고 있는데? 예약 시간 정보?? ㅇㅇ
		근데 re_user_id랑 rs_date를 안가져왔거나, 샘플데이터에서 생략했을 뿐이네ㅇㅇㅇㅇ 오케오케-->
	<select id="selectRsList" resultType="kr.kh.finalproject.vo.ReservationVO">
		select * 
			from reservation 
			order by rs_num asc
	</select>
 </mapper>