<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.MemberDAO">
	<insert id="insertUser" parameterType="string">
		insert into user (user_id, user_aorb, user_phone) 
		values (#{member.user_id}, #{member.user_aorb}, #{member.user_phone})
	</insert>
	
	<insert id="insertMember">
		insert into member(me_user_id, me_pw, me_name, me_email)
		values (#{member.user_id}, #{member.me_pw}, #{member.me_name}, #{member.me_email})
	</insert>
	
	<select id="selectMember" resultType="kr.kh.finalproject.vo.MemberVO">
		select * from member where me_user_id = #{id} 
	</select>


	<!-- 일반회원 - 자동 로그인 기능 : 1. 쿠키 생성 (loginCookie 라는 쿠키) 2. DB 해당 계정에 세션아이디, 세션리밋이 오늘날짜 일주일 뒤로 잡혀야함 -->
	<update id="updateMemberSession">
		update
			member
		set
			me_session_id = #{member.me_session_id},
			me_session_limit = #{member.me_session_limit}
		where
			me_user_id = #{member.me_user_id}
	</update>
	
	<select id="selectMemberBySessionId" resultType="kr.kh.finalproject.vo.MemberVO">
		select * from member 
		where
			me_session_id = #{session_id} and  me_session_limit >= now() 
	</select>
	
	
	<!-- 카카오 로그인 -->
	<insert id="insertUserKakaoInfo" parameterType="kr.kh.finalproject.vo.UserVO">
	    INSERT INTO user (user_id, user_aorb, user_phone)
	    VALUES (#{user_id}, #{user_aorb}, #{user_phone})
	</insert>
	
	<select id="selectUserKakaoInfo" parameterType="String" resultType="kr.kh.finalproject.vo.UserVO">
	    SELECT user_id, user_aorb, user_phone
	    FROM user
	    WHERE user_id = #{user_id}
	</select>	

	<insert id="insertMemberKakao" parameterType="kr.kh.finalproject.vo.MemberVO">
        INSERT INTO member (me_user_id, me_email, me_name)
        VALUES (#{kakao_user_id}, #{kakao_email}, #{kakao_name})
    </insert>
    
    <select id="selectMemberKakao" parameterType="String" resultType="kr.kh.finalproject.vo.MemberVO">
        SELECT me_user_id, me_email, me_name
        FROM member
        WHERE kakao_user_id = #{kakao_user_id}
    </select>
    
</mapper>