<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.PromotionDAO">
 <resultMap type="kr.kh.finalproject.vo.PromotionVO" id="PromotionVO">
 <id property="pr_num" column="pr_num"/>
 <result property="pr_subject" column="pr_subject"/>
 <result property="pr_contents" column="pr_contents"/>
 <result property="pr_type" column="pr_type"/>
 <result property="pr_discount" column="pr_discount"/>
 <result property="pr_save" column="pr_save"/>
 <result property="pr_store" column="pr_store"/>
 <result property="pr_image" column="pr_image"/>
 
 </resultMap>


	<!-- 사이트 관리자 페이지 -->
	<select id="selectPrList" resultType="kr.kh.finalproject.vo.PromotionVO">
		select * from promotion where pr_approval = #{pr_approval}
	</select>
	
	<!-- 프로모션 승인&거절 -->
	<update id="updatePromotion">
		update promotion 
			set pr_approval = #{promotion.pr_approval}
			where pr_num = #{promotion.pr_num}
	</update>
</mapper> 
 
 
 
