<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.kh.finalproject.dao.ReviewDAO">
 
	<!-- 사이트 관리자 페이지 -->
	<select id="selectReList" resultType="kr.kh.finalproject.vo.ReviewVO">
	<!-- 화면에서는 vo에 있는 값만 쓸 수 있다. ReviewVO에 ol_user_id 추가 
	  -> vo에 있는 re_user_id를 쓰는걸로 바꾸고 싶다면 as re_user_id로 사용명?을 바꾸면 된다.  -->
		select re_num, ol_user_id as re_user_id, re_or_num, re_contents, re_star, ol_num as re_ol_num
			from `review`
			join order_menu on re_or_num = or_num
			join order_list on or_num = ol_or_num
	<!-- join은 자동으로 되기 때문에 #{}안에 넣을 필요 없다.  -->
	</select>
	
	<!-- 리뷰게시판 - 메뉴이름까지 가져오고 싶어서 (리뷰~메뉴까지 쪼인) + 브랜드 매장명 가져오려고 멀리까지도 감 -->
	<select id="selectRvList" resultType="kr.kh.finalproject.vo.ReviewVO">
		select 
			re_num, 
			ol_num as re_ol_num, 
			ol_user_id as re_user_id, 
			re_or_num, 
			re_contents
		from review 
			join order_menu on re_or_num = or_num
    		join order_list on or_num = ol_or_num
	</select>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview">
		delete from review where re_num = #{review.re_num}
	</delete>
	
	<!-- 주문메뉴 리스트 + 리뷰 등록 -->
	<select id="selectOrderList" resultType="kr.kh.finalproject.vo.OrderMenuVO">
		select 	or_num, 
				or_time, or_drinks, or_selectOption, ol_user_id as or_user_id
			from order_menu
	    		join order_list on or_num = ol_or_num
    		where ol_user_id =  #{user.me_user_id}
    		order by or_time desc
    		<!-- 최신순이 국룰이지만 order by desc 했는데 에러뜨니까 지레질려서 주석하기 
    			23.11.22 4:22 적용 성공! (짝짝짝) -->
	</select>
	<insert id="insertReview">
		insert into review(re_contents, re_star, re_or_num)
		values(#{review.re_contents}, #{review.re_star}, #{review.re_or_num})	
	</insert>
 </mapper>