<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.finalproject.dao.StoreDAO">
	<!-- 사이트 관리자 - 매장등록 리스트 -->
	<select id="selectBsList" resultType="kr.kh.finalproject.vo.StoreVO">
		select st_num, st_bm_id, bm_store_name as st_store_name, st_br_name, st_opentime, st_closetime, st_approval
			from store 
		 	join business_member on st_bm_id = bm_id
		 	where st_approval = #{st_approval}
	</select>
	
	<!-- 매장등록 승인&거절 버튼 -->
	<update id="updateStore">
		update store 
			set st_approval = #{store.st_approval}
			where st_num = #{store.st_num}
	</update>
	
	<!-- 매장등록 추가정보 입력 -->
	<!-- 이건... bm_contents가 이미 bm테이블에 데이터값 저장되있고, 그것을 불러와서 store테이블에 insert한다는 뜻 같은데../ 
	<insert id="insertPlusInfo">
		insert into store(st_br_name, st_opentime, st_closetime, bm_contents)
			select (#{plus.st_br_name}, #{plus.st_opentime}, #{plus.st_closetime}, bm_contents)
			from business_member
			where business_member.bm_contents = #{bm_contents}
	</insert> -->
	<!-- <insert id="insertPlusInfo">
		insert into 
			store(st_br_name, st_opentime, st_closetime, st_contents)
			values (#{plus.st_br_name}, #{plus.st_opentime}, #{plus.st_closetime}, #{plus.st_contents})
	</insert> -->
	<insert id="insertPlusInfo">
		insert into store(st_br_name, st_opentime, st_closetime, st_contents, bm_id)
			select (#{plus.st_br_name}, #{plus.st_opentime}, #{plus.st_closetime}, #{plus.st_contents}, buser.bm_id)
			where bm_id = #{buser.bm_id} 
	</insert>
	
</mapper>


