@charset "UTF-8";

.bmember-title-layout{
	justify-content:center;
	display:flex;
	margin-top:56px;
	margin-bottom:50px;
}


.bmember-title{
	font-family: 'BM HANNA Pro', sans-serif;
	font-size:35px;
	font-weight:bold;
}
#bmember-table{
	font-family: 'BM HANNA Pro', sans-serif;
	text-align:center;
}