@charset "UTF-8";

.row .test {
	margin-top: 10px;
	transition: 0.2s ease-in-out;
}
.row .test:hover {
	transform: scale(0.9);
	border-radius: 10px;
	cursor: pointer;
}
.main {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.main_bar {
	position: relative;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 1rem;
	height: 250px;
	background-color: #fff;
	flex: 1;
	transition: 0.2s ease-in-out;
	border-bottom: 55px solid black;
}

.main_bar:hover {
	transform: perspective(1500px) rotateY(30deg);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}


.main .image {
	overflow: hidden;
	width: 180px;
	height: 180px;
}

.button_div{
	position: absolute;
	bottom: 20px;right: 20px
}
.google-div{
	box-shadow: 0 -1px 19px 8px #dedee3;
	height: 69px;width: 250px;
	border-radius: 4px;
	position: absolute;
	bottom: 60px;
	right: 2px;
	z-index: 999;
	background-color: #fff;
	transition: all 0.5s;
	cursor: pointer;
	padding: 10px
}
.google-div::after{
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	right: 10px;
	background-color: white;
	transform: rotate(45deg)
}
.google-div::nth-child(2){
	margin-top: 3px
}
.btn{
padding: 8px 12px
}
.btn:focus{
	box-shadow: none;outline: none
}