@charset "UTF-8";


	.menu-container {
	 	padding: 20px;
	}
	
	/* 대분류탭 */
	.lc {
	text-align: center; /* 텍스트를 가운데 정렬 */
	}
	
	.btn-group-box{
	display: flex;
	justify-content: center; align-items: center; /*text-align: center;*/
	width:100%; padding: 20px;
	}

	}
	/* 중분류 및 메뉴파트 */
	.menu-group {
  	justify-content: center;
    display: grid;
    text-align: center;
    width: 1000px; margin: 0 auto;
  	}
  	
	/* 중분류 체크박스 */
	.checkbox-group{
	border: 1px solid black; text-align: left;
	padding: 20px;
	}
 	
	/* 메뉴 이미지부분*/
  	li {
  		list-style: none;
  	}
  	
  	.image-container {
  	border: 1px solid black; margin: 20px 0; padding: 20px; 
  	}
  	
  	.list-image {
  	display: flex; flex-wrap: wrap; /*float-left현상 변경 & 요소들이 너비를 초과하면 다음 줄로 넘어감*/
  	justify-content: flex-start; /* space-around : 내부 요소들을 가로 방향으로 균등 간격으로 배치 */
  	width: 100%; position: relative;/* 부모 요소에 대해 가로로 꽉 채우도록 설정 */
    padding: 0; /* 기본 패딩 제거 */ margin-left: 40px;
  	}
  	
	.item-image {
    margin: 0 10px; box-sizing: border-box; /* 너비에 padding과 border를 포함시키기 위해 box-sizing 설정 *//* 패딩과 테두리를 포함한 크기 계산 */
    display: inline-block; /* 가로로 나란히 배치하기 위해 inline-block 설정 */
    vertical-align: middle; 
    
  	}